.cell {
    border: solid 2px darkgrey;
    text-align: center;
    font-size: 150px;
    height: 20vh;
    width: 20vw;
    cursor: pointer;
    min-width: fit-content;
    padding: 10px;
}
button.action {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 5vh;
    font-weight: bold;
    font-size: xx-large;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #3d5afe;
}
.cell-container {
    display: inline-block;
}
.cell:hover {
    background-color: aliceblue;
}
.cell.space {
    background-color: darkgrey;
    color: darkgrey;
}
.board {
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
}
App {
    position: relative;
}